.card{
    width:320px;
    padding:10px;
    background-color: rgba(245, 245, 245, 0.2);
}
.card img{
    height:200px;
    width:300px;
    padding-bottom: 10px;
}
iframe{
    height:500px;
    width:800px;
}
.teext{
    color:black;
}
.para{
    color: black;
}
@media (max-width:375px){
    .card {
        width:200px;
        
    }
    .card iframe{
        height:200px;
        padding-bottom: 10px;
    }
}
.bt{
    position: relative;
    top:12px;
    background-color: #FF5A5A !important;
    color: black !important;
}
.bt:focus{
    outline: none !important;
    text-decoration: none !important;
}
@media(max-width:320px){
    .d-flex{
        display: flex;
        flex-direction: column;
    }
    .bt{
        position: relative;
        left:80px;
    }
    .some-class{
        width:100% !important;
    }
}
