.autoCom{
    position: relative;
    top:40px;
}
.contain{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction:column;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    box-shadow: -7.829px 11.607px 21px 0px rgba(71, 95, 123, 0.2); 
}
.container{
    display: flex;
    flex-direction:row;
    
}
.bg{
    height:50px;
    width:200px;
    border: none;
    border-radius: 5px;
    position: relative;
    top:19px;
    margin-left:10px;
    background-color:crimson;
    color: white;

}