*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
i{
    cursor: pointer;
    color:black;
}
i:hover{
    color: #ff5a5a;
}